<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="/../public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="apple-touch-icon" sizes="180x180" href="/../public/pics/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../public/pics/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="/../public/pics/favicon-32x32.png">

 

  <style>
 .btn-change7{
    height: 50px;
    width: 50px;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change7:hover{
    box-shadow:100px 0 0 rgb(62, 68, 96) inset;
}
.btn-change8{
    height: auto;
    width: auto;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change8:hover{
    box-shadow:250px 0 0 rgb(62, 68, 96) inset;
}
  </style>
</head>
<body>
  <div  class="se-pre-con"></div>
  <!--Navbar -->
<nav class="navbar  fixed-top navbar-expand-sm navbar-dark  float-right" style="background-color: rgb(62, 68, 96); font-size: 14px;">
  <!--BRAND (Logo)-->
  <a class="navbar-brand" href="#">
    <img src="/../public/pics/cropped-logo-otms-4.png" alt="">
  </a>
  <!--end of BRAND (Logo)-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" onclick="smoothScroll(document.getElementById('Home'))" style="cursor: pointer;">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">All Shipments</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link "  onclick="smoothScroll(document.getElementById('OH'))" style="cursor: pointer;">Order History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  onclick="smoothScroll(document.getElementById('Contact'))" style="cursor: pointer;">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">BL</a>
      </li>
      <li class="nav-item disa">
        <a class="nav-link disabled " href="profile">Profile</a>
      </li>
      
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="signIn"  ><b>SignIn</b></a>
      </li>
    </ul>

    <!-- -- <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Login</b>
      </a>
        
        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown"
        style="width: 300px;">
          
          <form class="form" role="form">
            <div class="form-group">
                <input id="emailInput" placeholder="E-mail" class="form-control form-control-sm text-center" type="email" required
                style="width: 80%; margin-left: 10%; margin-top: 10%;">
            </div>
            <div class="form-group">
                <input id="passwordInput" placeholder="Password" class="form-control form-control-sm text-center" type="password" required style="width: 80%; margin-left: 10%;">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-change8" style="width: 80%; margin-left: 10%;">Login</button>
            </div>
            <div class="form-group text-center">
                <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small><br>
                <small>Are you new here?<a href="signup"> Sign Up</a></small>
            </div>
        </form>
        </div>
      </li>
    </ul>          end of    the login btn and modal of main page-->








  </div>
</nav>
<!------------------------/.Navbar ---------------------------------->



<!----------------------- search bar -------------------------------->
<form action="sendData" method="POST" >
  
  <div class="bbbootstrap" >
  
  <div class="container" id="home" style="padding-bottom: 90px; max-width: 600px;">
       
    <div class="input-group">
          <input class="form-control text-center rounded-0"
           style="height: 50px;" 
          name="BlNumber"
          placeholder="Enter BL/Ref NO.">

        <div class="input-group-addon rounded-0" >
          <input class="icon  btn-change7  fa fa-search text-center" 
          type="submit"
          value="Search"
          style="line-height: 50px; border-radius: 0% 10% 10% 0%; cursor: pointer; width: 70px;"
          onclick="showDiv(); scrollToResult();">
        </div>
  </div>
  
</div>
  
</div>
</form>
<!----------------------- /.search bar ---------------------------->



<!--*********************** RESAULT ************************ -->
<% if (result) { %>
  <div class="  text-center body-container" id="OH" ><button class="btn btn-dark fa fa-moon float-left" onclick="darkLight()"></button>
    <h3 class="text-center body-container">Results</h3><hr>
    
      <div class="container body-container"  style="max-width: 100%;">
        <article class="card body-container " >
            <!-- <header class="card-header body-container"> My Orders / Tracking </header> -->
            <div class="card-body body-container" >
              <span id="printableArea" ><span id="printableArea">
                <article class="card body-container">
                    <div class="card-body row body-container">
                      <% if (result[0].PNo) { %>
                        <div class="col"> <strong>PNo:</strong> <br><%=result[0].PNo%> </div>
                        <% } else { %>
                          <div class="col"> <strong>PNo:</strong> <br> - </div>
                      <% } %>
                        
                      <% if (result[0].FileNo) { %>
                        <div class="col"> <strong>FileNo:</strong> <br><%=result[0].FileNo %> </div>
                        <% } else { %>
                          <div class="col"> <strong>FileNo:</strong> <br> - </div>
                      <% } %>

                      <% if (result[0].HBL) { %>
                        <div class="col"> <strong>HBL:</strong> <br> <span > <%=result[0].HBL %></span>  </div>
                        <% } else { %>
                          <div class="col"> <strong>HBL:</strong> <br> <span > - </span>  </div>
                      <% } %>

                      <% if (result[0].BLIssueDateH) { %>
                        <div class="col"> <strong>BLIssueDateH:</strong> <br> <%=result[0].BLIssueDateH %> </div>
                        <% } else { %>
                          <div class="col"> <strong>BLIssueDateH:</strong> <br> - </div>
                      <% } %>
                        
                    </div>

                    <div class="card-body row">

                      <% if (result[0].ETA) { %>
                        <div class="col"> <strong>ETA:</strong> <br> <%=result[0].ETA %></div>
                        <% } else { %>
                          <div class="col"> <strong>ETA:</strong> <br> - %></div>
                      <% } %>

                      <% if (result[0].ArrivalDate) { %>
                        <div class="col"> <strong>ArrivalDate:</strong> <br> <%=result[0].ArrivalDate %> </div>
                        <% } else { %>
                          <div class="col"> <strong>ArrivalDate:</strong> <br> - </div>
                      <% } %>

                      <% if (result[0].DORcvdDate) { %>
                        <div class="col"> <strong>DORcvdDate:</strong> <br> <%=result[0].DORcvdDate %> </div> 
                        <% } else { %>
                          <div class="col"> <strong>DORcvdDate:</strong> <br> - </div>
                      <% } %>
                      
                      <% if (result[0].DOSendDate) { %>
                        <div class="col"> <strong>DOSendDate:</strong> <br> <%=result[0].DOSendDate %> </div>
                        <% } else { %>
                          <div class="col"> <strong>DOSendDate:</strong> <br> - </div>
                      <% } %>
                      
                  </div>


                  
                  
                
              <div class="card-body row">

                    <% if (result[0].POL) { %>
                      <div class="col-sm-3"> <strong>POL:</strong> <br><%=result[0].POL %> </div>
                      <% } else { %>
                        <div class="col-sm-3"> <strong>POL:</strong> <br> - </div>
                    <% } %>
                
                    <% if (result[0].POT) { %>
                      <div class="col-sm-3"> <strong>POT:</strong> <br> <%=result[0].POT %> </div>
                      <% } else { %>
                       <div class="col-sm-3"> <strong>POT:</strong> <br> - </div>
                    <% } %>
                
                    <% if (result[0].POD) { %>
                      <div class="col-sm-3"> <strong>POD:</strong> <br> <%=result[0].POD %> </div>
                      <% } else { %>
                        <div class="col-sm-3"> <strong>POD:</strong> <br> - </div>
                    <% } %>
   
            </div>

          <!-- tables for multiple container -->

<hr>
            <div>
            
          <div class="list-group"  >
                   

              
              <div class="table-responsive ">
                <table class="table  table-striped table-default table-sm"  width="100%" id="myTable" >
                  <% if (result[0].TransportationMode == 1 || result[0].TransportationMode == 5) { %>
                    <thead style="background-color: rgb(173, 171, 171);">
                      <tr>
                        <th class="th-sm" onclick="sortTable(0)">CNTR</th>
                        <th class="th-sm" onclick="sortTable(1)">GateOut</th>
                        <th class="th-sm" onclick="sortTable(2)">MTRTN</th>
                        
      
                      </tr>
                    </thead>
                    <tbody>
                      <% result.forEach(item => { %>  
                      <tr>
                        <td><%=item.Sea_CNTR%></td>
                        <td><%=item.Sea_GateOut%></td>
                        <td><%=item.Sea_MTRTN%></td>
                        
      
                      </tr>
                      <% }) %>
                    </tbody>
                    
                  <% } %>
                  <% if (result[0].TransportationMode == 3) { %>
                    <thead style="background-color: rgb(173, 171, 171);">
                      <tr>
                        <th onclick="sortTable(0)">OverLand_TruckNo</th>
                        <th onclick="sortTable(1)">OverLand_Dispatch</th>
                        <th onclick="sortTable(2)">OverLand_BorderCrossing</th>
                        <th onclick="sortTable(3)">OverLand_Discharge</th>  
      
                      </tr>
                    </thead>
                    <tbody>
                      <% result.forEach(item => { %>  
                      <tr>
                       
                        <td><%=item.OverLand_TruckNo%></td>
                        <td><%=item.Overland_Dispatch%></td>
                        <td><%=item.Overland_BorderCrossing%></td>
                        <td><%=item.Overland_Discharge%></td>
      
                      </tr>
                      <% }) %>
                    </tbody>
                  <% } %>
                  

                  

                </table>

                

                
              </div>
              <!-- ------------------------------------------------------------ -->

              <!-- ------------------------------------------------------------ -->
           
          </div>
        </div>
         



          <!-- end of tables for multiple container -->
  </article>



                <!-- <ul class="row ">
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/profile-picture-test.png" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">General Cargo using X Shipments <br> 125kg G.W</p> <span class="text-muted">$950 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/shipping.jpg" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">DG Cargo using X Shipments<br> 250kg G.W</p> <span class="text-muted">$850 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/litium bromide.jpeg" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">General Cargo using X Shipments <br> 500kg G.w</p> <span class="text-muted">$650 </span>
                            </figcaption>
                        </figure>
                    </li>
                </ul> -->
                 <!-- <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a> --> <br>
                <button class="btn btn-primary" onclick="printDiv('printableArea')"><i class="fa fa-print" aria-hidden="true" style="    font-size: 17px;"> Download Arrival Notice</i></button>
    
            </div>
        </article>
    </div> 
    
    </div>
<% } %>


  
<button
        type="button"
        class="btn btn-md  float-right  cd-top  js-cd-top cd-top--is-visible cd-top--fade-out"
        id="toTopBtn"
        data-abc="true"
        >
  <span class=" btn-sm  text-center"></span>
</button>

<!----------------------- Footer ------------------------>
<footer class=" text-center text-white" id="Contact" style="background-color: rgb(62, 68, 96);">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
    <div class="row">
      <div class="col-sm-6">
        <h4>درباره ما</h4>
        <p>شرکت کیاسامانه پیشگام با ارائه نرم افزارهای کاربردی،مسیر را برای کارمندان آسان<br> میکند .و با محاسبات دقیق، آسایش و آرامش را برای آنها به ارمغان می آورد</p>
        
      </div>
      <div class="col-sm-6">
        <h4>تماس با ما</h4>
        <p>آدرس :

          تهران، گیشا، خ ۲۱، پ ۴۹، واحد ۱<br>
        تلفن تماس: 

        ۸۸۲۷۴۴۴۶   
 و 
۸۸۲۷۴۴۶۰ 
        <br>
        ارتباط مستقیم با مدیرعامل: 

        ۹۱۲۲۱۱۶۴۷۰ +۹۸ 
        
        
        </p>
        
      </div>
     
    </div>

<!-- Section: Text -->
<section class="mb-4 ">
  <p>
    <strong>عضویت در خبرنامه</strong><br>
    .با عضویت در خبرنامه کیا سامانه از آخرین اخبار و اطلاعیه‌های سایت قبل از هر کس دیگری با خبر شوید
  </p>
</section>
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control text-center" placeholder="ایمیل خود را وارد کنید"/>
              
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              <b>عضویت</b>
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
    <!-- Section: Text -->
    <!-- Section: Text -->
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row ">
       

        <!--Grid column-->

                <!--  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Link 4</a>
                    </li>
                  </ul>
                </div>   -->

        <!--Grid column-->

       


      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
     <span class="fab fa-html5 btn btn-warning" title="Html" style="cursor:auto;"></span> <span class="fab fa-css3 btn btn-primary" style="cursor:auto;" title="Css"></span> تهیه شده با <span class="fa fa-heart btn btn-danger" style="cursor:auto;" title="عشق"></span>  و کمی چاشنی
    <br> © 2021<a href="" class="btn btn-dark btn-sm">PrivacyPolicy</a>.<a class="text-white btn btn-sm btn-dark" href="https://otms.ir/">KSP</a> توسط
  </div>
  <!-- Copyright -->
</footer>
<!---------------------------- Footer ---------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/js/script.js"></script>


</body>
</html>

