<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="/../public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="shortcut icon" href="/../public/pics/faviconn.ico" >

 

  <style>
 .btn-change7{
    height: 50px;
    width: 50px;
    background: rgb(214, 39, 39);
    margin: 0.5%;
    float: left;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
    
}
.btn-change7:hover{
    box-shadow:100px 0 0 rgb(62, 68, 96) inset;
}
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
body,
.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    background: radial-gradient(rgb(18, 174, 185),rgb(62, 68, 96));
    font-size: 16px;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color:#fff;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #00bcd4;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
} 
  </style>
</head>
<body>
    
    <%- include('./includes/navbar.ejs')  %> 






  <div class="content" style="font-family: B nazanin,Arial;">
    <div class="card">
        <div class="firstinfo"><img src="../public/pics/avatar6.png" />
            <div class="profileinfo text-center float-right "><span class="btn btn-sm btn-success" style="cursor: default;">User</span>
                <h3><%= session.user.DesFa %></h3>
                <h6><%= session.user.DesEn %></h6>
                <h6><b>email: </b><%= session.user.Email %></h6>
                <h6><b>ID: </b><%= session.user.ID %></h6>




            </div>
        </div>
    </div>
    <div class="badgescard"> 
        <a class="fab fa-facebook btn btn-primary" ></a>
        <a class="fab fa-youtube btn btn-danger"></a>
        <a class="fab fa-whatsapp btn btn-success"> </a>
        <a class="fab fa-google btn btn-danger"></a>
        <a class="fab fa-twitter btn btn-info"> </a>
        <a class="fa fa-cog btn btn-dark"></a>
        
    </div>
</div>







<!--------------------------------------------------- -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="../public/js/script.js"></script>


</body>
</html>

