<%- include('./includes/header.ejs')  %> 
<style>
  div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one i {

transition: all 1s;


}
.btn-one:hover{

}


.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover i {

transition: all 0.5s;
color: #FFF;
/* transform: rotate(360deg); */
/* transform: skew(180deg); */
/* transform: scale(130%);  */
transform: rotateY(180deg);

}

.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 

}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);

}
</style>
<body>

  <div  class="se-pre-con"></div>

  <%- include('./includes/navbar.ejs')  %> 
  
<!--*********************** RESAULT ************************ -->
<% if (result) { %>
  <div class="  text-center " id="OH" >
    <h3 class="text-center ">Results</h3><hr>
    
      <div class="container "  style="max-width: 100%;">

        <article class="card" >
            <!-- <header class="card-header body-container"> My Orders / Tracking </header> -->
            <div class="card-body " >
              
                <article class="card ">
                    <div class="card-body row ">
                      <% if (result[0].PNo) { %>
                        <div class="col"> <strong>PNo:</strong> <br><%=result[0].PNo%> </div>
                        <% } else { %>
                          <div class="col"> <strong>PNo:</strong> <br> - </div>
                      <% } %>
                        
                      <% if (result[0].FileNo) { %>
                        <div class="col"> <strong>FileNo:</strong> <br><%=result[0].FileNo %> </div>
                        <% } else { %>
                          <div class="col"> <strong>FileNo:</strong> <br> - </div>
                      <% } %>

                      <% if (result[0].HBL) { %>
                        <div class="col"> <strong>HBL:</strong> <br> <span id="HBL"><%=result[0].HBL %></span>  </div>
                        <% } else { %>
                          <div class="col"> <strong>HBL:</strong> <br> <span > - </span>  </div>
                      <% } %>

                      <% if (result[0].BLIssueDateH) { %>
                        <div class="col"> <strong>BLIssueDateH:</strong> <br> <%=moment(result[0].BLIssueDateH).format('YYYY/MM/DD hh:mm A')%> </div>
                        <% } else { %>
                          <div class="col"> <strong>BLIssueDateH:</strong> <br> - </div>
                      <% } %>
                        
                    </div>

                    <div class="card-body row">

                      <% if (result[0].ETA) { %>
                        <div class="col"> <strong>ETA:</strong> <br> <%=moment(result[0].ETA).format('YYYY/MM/DD hh:mm A')%></div>
                        <% } else { %>
                          <div class="col"> <strong>ETA:</strong> <br> - %></div>
                      <% } %>

                      <% if (result[0].ArrivalDate) { %>
                        <div class="col"> <strong>ArrivalDate:</strong> <br> <%=moment(result[0].ArrivalDate).format('YYYY/MM/DD hh:mm A')%></div>
                        <% } else { %>
                          <div class="col"> <strong>ArrivalDate:</strong> <br> - </div>
                      <% } %>

                      <% if (result[0].DORcvdDate) { %>
                        <div class="col"> <strong>DORcvdDate:</strong> <br> <%=moment(result[0].DORcvdDate).format('YYYY/MM/DD hh:mm A')%> </div> 
                        <% } else { %>
                          <div class="col"> <strong>DORcvdDate:</strong> <br> - </div>
                      <% } %>
                      
                      <% if (result[0].DOSendDate) { %>
                        <div class="col"> <strong>DOSendDate:</strong> <br> <%=moment(result[0].DOSendDate).format('YYYY/MM/DD hh:mm A')%> </div>
                        <% } else { %>
                          <div class="col"> <strong>DOSendDate:</strong> <br> - </div>
                      <% } %>
                      
                    </div>


                  
                  
                
              <div class="card-body row">

                    <% if (result[0].POL) { %>
                      <div class="col-sm-3"> <strong>POL:</strong> <br><%=result[0].POL %> </div>
                      <% } else { %>
                        <div class="col-sm-3"> <strong>POL:</strong> <br> - </div>
                    <% } %>
                
                    <% if (result[0].POT) { %>
                      <div class="col-sm-3"> <strong>POT:</strong> <br> <%=result[0].POT %> </div>
                      <% } else { %>
                       <div class="col-sm-3"> <strong>POT:</strong> <br> - </div>
                    <% } %>
                
                    <% if (result[0].POD) { %>
                      <div class="col-sm-3"> <strong>POD:</strong> <br> <%=result[0].POD %> </div>
                      <% } else { %>
                        <div class="col-sm-3"> <strong>POD:</strong> <br> - </div>
                    <% } %>
   
              </div>

          <!-- tables for multiple container -->

<hr>
          <div >
            
          <div class="list-group"  >  
              <div class="table-responsive">
                <table class="table  table-striped table-default table-sm"  width="100%" id="myTable" >
                  <% if (result[0].TransportationMode == 1 || result[0].TransportationMode == 5) { %>
                    <thead style="background-color: rgb(173, 171, 171);">
                      <tr>
                        <th class="th-sm" onclick="sortTable(0)">CNTR <span class="fa fa-sort"></span></th>
                        <th class="th-sm" onclick="sortTable(1)">GateOut <span class="fa fa-sort"></span></th>
                        <th class="th-sm" onclick="sortTable(2)">MTRTN <span class="fa fa-sort"></span></th>
                        
      
                      </tr>
                    </thead>
                    <tbody>
                      <% result.forEach(item => { %>  
                      <tr>
                        <td><%=item.Sea_CNTR%></td>
                        <td><%=item.Sea_GateOut ? moment(item.Sea_GateOut).format('YYYY/MM/DD hh:mm A') : '-'%></td>
                        <td><%=item.Sea_MTRTN ? moment(item.Sea_MTRTN).format('YYYY/MM/DD hh:mm A') : '-'%></td>
                        
      
                      </tr>
                      <% }) %>
                    </tbody>
                    
                  <% } %>
                  <% if (result[0].TransportationMode == 3) { %>
                    <thead style="background-color: rgb(173, 171, 171);">
                      <tr>
                        <th onclick="sortTable(0)">OverLand_TruckNo <span class="fa fa-sort"></span></th>
                        <th onclick="sortTable(1)">OverLand_Dispatch <span class="fa fa-sort"></span></th>
                        <th onclick="sortTable(2)">OverLand_BorderCrossing <span class="fa fa-sort"></span></th>
                        <th onclick="sortTable(3)">OverLand_Discharge <span class="fa fa-sort"></span></th>  
      
                      </tr>
                    </thead>
                    <tbody>
                      <% result.forEach(item => { %>  
                      <tr>
                       
                        <td><%=item.OverLand_TruckNo%></td>
                        <td><%=item.Overland_Dispatch ? moment(item.Overland_Dispatch).format('YYYY/MM/DD hh:mm A') : '-'%></td>
                        <td><%=item.Overland_BorderCrossing ? moment(item.Overland_BorderCrossing).format('YYYY/MM/DD hh:mm A') : '-'%></td>
                        <td><%=item.Overland_Discharge ? moment(item.Overland_Discharge).format('YYYY/MM/DD hh:mm A') : '-'%></td>
      
                      </tr>
                      <% }) %>
                    </tbody>
                  <% } %>

                </table>   
              </div> 
          </div>
        </div>




          <!-- end of tables for multiple container -->
  </article>



                <!-- <ul class="row ">
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/profile-picture-test.png" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">General Cargo using X Shipments <br> 125kg G.W</p> <span class="text-muted">$950 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/shipping.jpg" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">DG Cargo using X Shipments<br> 250kg G.W</p> <span class="text-muted">$850 </span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/../public/pics/litium bromide.jpeg" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">General Cargo using X Shipments <br> 500kg G.w</p> <span class="text-muted">$650 </span>
                            </figcaption>
                        </figure>
                    </li>
                </ul> -->
                 <!-- <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a> -->
               
                 <span id="printableArea" ><span id="printableArea">

                    <div id="arrivalnotice">
                      <!--arival noticce place-->
                    </div>
                    <img id="loading-gif" src="/../public/pics/loadEn.gif" style="display:none;height: 0; margin: auto"/>
                    <div id="arrivalNoticeError" style="display: none; margin: auto; background: rgba(253, 52, 17,0.7); padding: 5px;">
                      <b><i>اعلامیه ورود صادر نشده است</i></b><br><b><i>No arrival notice has been issued</i></b>
                    </div>
                  </div>

                 <br>
            </div>

            <button class="btn btn-success btn-one mb-2" onclick="printDiv('printableArea')"><i class="fa fa-print" aria-hidden="true" style="font-size: 17px;"></i> Print Arrival Notice</button>
            <button type="button" id="btnFetch" class="btn btn-primary spinner-button btn-one mb-2 "   onclick="loadarrivalprint()">
              <i class="fa fa-download" aria-hidden="true" ></i>
              Get Arrival Notice</button><br><br><br><br><br><br>
        </article>
    </div> 
    
    </div>

<% }else { %>
  <br><br><div class="text-center" style="background: rgba(253, 52, 17,0.7); padding: 5px;"><br>
    <i><h4> خطا </h4></i>
    <i><b>!!بارنامه مورد نظر یافت نشد<br>The bill of lading was not found!!</b></i>
  </div>
<% } %>

<button
type="button"
class="btn btn-md  float-right  cd-top  js-cd-top cd-top--is-visible cd-top--fade-out btn-one"
id="toTopBtn"
data-abc="true"
>
<span class="btn-sm  text-center"></span>
</button>

<script>
  function loadarrivalprint() {
    debugger
    document.getElementById('arrivalNoticeError').style.display='none'
    document.getElementById('loading-gif').style.display='block'
    document.getElementById('loading-gif').style.height='auto'
    var param=document.getElementById('HBL').innerText
    axios({
      method:'post',
      url:`/printArrivalNotice?hbl=${param}`,
      headers: {
          'CSRF-Token': "<%= csrfToken %>"
        }
    })
    .then(res=>{
      if(res.data.length>0){
       
        document.getElementById("btnFetch").innerText="Ready to print";
        document.getElementById('loading-gif').style.display='none'
        document.getElementById('arrivalNoticeError').style.display='none'
        document.getElementById("arrivalnotice").innerHTML = res.data;
      }else{

        console.log('Data Not Found')
        document.getElementById('loading-gif').style.display='none'
        document.getElementById("btnFetch").innerText="Check With Company";
        document.getElementById('arrivalNoticeError').style.display='block'
      }
    })
  }
</script>
<%- include('./includes/footer.ejs')  %>